site_name: LibriShare - Documentação
site_url: https://librishare.github.io/libri-share/
site_description: "LibriShare é uma plataforma de gerenciamento e compartilhamento de livros."

repo_url: https://github.com/LibriShare/libri-share/
repo_name: libri-share

nav:
  - Início: index.md
  - Arquitetura:
      - Visão Geral: arquitetura/visao_geral.md
      - Back-end: arquitetura/backend.md
      - Banco de Dados: arquitetura/banco_de_dados.md 
      - Front-end: arquitetura/frontend.md
  - Guia de Uso:
      - Primeiros Passos: guia_uso/primeiros_passos.md
      - Biblioteca: guia_uso/biblioteca.md
      - Leitura: guia_uso/leitura.md
      - Empréstimos: guia_uso/emprestimos.md
      - Social: guia_uso/social.md
  - Design:
      - Princípios: design/principios.md
      - Protótipos: design/prototipos.md
  - Gerenciamento:
      - Backlog: gerenciamento/product_backlog.md

theme:
  name: material
  language: pt

  logo: assets/images/logo_sem_fundo.png
  favicon: assets/images/logo_sem_fundo.png

  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.footer
    - navigation.tabs
    - navigation.expand
    - navigation.sections
    - content.code.copy
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Mudar para modo claro
      primary: teal
      accent: lime
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Mudar para modo escuro
      primary: indigo
      accent: orange

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - toc:
      permalink: true
      toc_depth: 3


extra_css:
  - stylesheets/extra.css
  
plugins:
   - search
   - search
   - mermaid2

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/FCTE-Qualidade-de-Software-1/2025-2_T02_Radia_Perlman